name: Releases

on:
  push:
    tags:
    - '*'

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - name: build
      run: ./build.sh --verbose
    - name: create tarball
      # GitHub removes file permissions, but we need them to be there
      # https://github.com/actions/upload-artifact/blob/cf8714cfeaba5687a442b9bcb85b29e23f468dfa/README.md#permission-loss
      # Alternatively we could require the user to run a script that adds the permissions on first run, but that also feels broken...
      run: tar -cvf tutorial.tar ./tutorial/
    - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b
      with:
        artifacts: "tutorial.tar"
        artifactErrorsFailBuild: true
